* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Fraunces", serif;
  font-family: "Montserrat", sans-serif;
 /* border: 1px solid red;*/
}

body {
  background: hsl(0, 0%, 100%);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

main {
  background: hsl(30, 38%, 92%);
  padding: 2rem 1rem;
  max-width: 375px;
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

#imgPerfume {
  max-width: 100%;
}

.description {
    background: hsl(0, 0%, 100%);
}